.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 5px;
    color: white;

    .element{
        padding: 5px;

        border-radius: 20px;
        border: 1px solid #55309c;

        font-weight: 200;
        font-size: 0.7em;
    }

}

@media (min-width: 550px){
    .category{
    
        .element{
            font-weight: 400;
            font-size: 0.8em;
        }
    
    }

}