.box{
    // background-color: rgb(4, 4, 69);
    color:white;
    margin: 50px auto;
    // height: 50vh;
    border-radius: 50px;
    text-align: center;

    h3{
        margin-top: 50px;
    }

    .titleSkills{
        color: orange;
        text-align: left;
    }
}