@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Poppins:wght@200;400;700;900&display=swap');

:root{
    --font-family:'Poppins', sans-serif;

}
$color-bg:rgb(16, 1, 27);
$color-primary:rgb(4, 4, 69);