*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    transition: all ease 1s;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    font-family: var(--font-family);
}